<div id="<%= dom_id assignment_repo %>">
  <p>
    <strong>Student:</strong>
    <%= assignment_repo.student_id %>
  </p>

  <p>
    <strong>Assignment:</strong>
    <%= assignment_repo.assignment_id %>
  </p>

  <p>
    <strong>Repo url:</strong>
    <%= assignment_repo.repo_url %>
  </p>

</div>
