<h1>Editing assignment repo</h1>

<%= render "form", assignment_repo: @assignment_repo %>

<br>

<div>
  <%= link_to "Show this assignment repo", @assignment_repo %> |
  <%= link_to "Back to assignment repos", assignment_repos_path %>
</div>
